body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

h1 {
    color: #333;
}

.waveform {
    width: 45%;
    height: 50vh;
}

.waveform > div {
    width: 100% !important
}

.chromagram { 
    position: relative;
    left: 600px;
    margin-top: -333px;
}

.chromagram > div {
    width: 45% !important
}

.spectrogram {
    position: relative;
    margin-top: 10px;
}

.spectrogram > div {
    width: 45% !important
}

.mel_spectrogram { 
    position: relative;
    left: 600px;
    margin-top: -450px;
}

.mel_spectrogram > div {
    width: 45% !important
}