body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

h1 {
    color: #333;
}

.waveform {
    width: 45%;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}

.chromagram { 
    width: 45%;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
    top: 10vh;
    left: 40vw;
}

.spectrogram {
    width: 45%;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
    top: 30vh;
    left: 40vw;
}

.mel_spectrogram { 
    width: 45%;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
    top: 30vh;
    left: 15vw;
}